@keyframes slideLeft {
  from {
    transform: translateX(100%); /* start completely offscreen right */
    opacity: 0;
  }
  to {
    transform: translateX(0); /* end in place */
    opacity: 1;
  }
}

@keyframes slideRight {
  from {
    transform: translateX(0); /* start completely offscreen right */
    opacity: 0;
  }
  to {
    transform: translateX(100%); /* end in place */
    opacity: 1;
  }
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

@keyframes slide-left {
  from {
    transform: translateX(42vw);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slide-right {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(42vw);
  }
}

@keyframes fade-in-out {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  10% {
    opacity: 1;
    transform: translateY(0);
  }
  90% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-10px);
  }
}

@keyframes progress-shrink {
  0% {
    width: 100%;
  }
  100% {
    width: 0%;
  }
}

@keyframes ghostOut {
  0% {
    opacity: 1;
    filter: blur(0px);
    transform: scale(1);
  }
  50% {
    filter: blur(4px);
    transform: scale(0.5);
  }
  100% {
    opacity: 0;
    filter: blur(8px);
    transform: scale(0);
  }
}

@keyframes ghostIn {
  0% {
    opacity: 0;
    filter: blur(8px);
    transform: scale(0);
  }
  50% {
    filter: blur(4px);
    transform: scale(0.5);
  }
  100% {
    opacity: 1;
    filter: blur(0px);
    transform: scale(1);
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    filter: blur(0px);
    display: inline;
  }
  100% {
    opacity: 0;
    filter: blur(8px);
    display: hidden;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    filter: blur(8px);
  }
  100% {
    opacity: 1;
    filter: blur(0px);
  }
}

@keyframes fill {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
